<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDenu4mWrkyrbJUkuYqzBVA1Z1ISDBwr34</string>
	<key>GCM_SENDER_ID</key>
	<string>459140421210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goat.FaceAI</string>
	<key>PROJECT_ID</key>
	<string>face-ai-app-5ad45</string>
	<key>STORAGE_BUCKET</key>
	<string>face-ai-app-5ad45.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459140421210:ios:6c8cf33504f9fd48a8aa63</string>
</dict>
</plist>